<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',    filename='template.css') }}">
    <link rel="stylesheet" href="../static/template.css">
    <title>Document</title>
</head>
<body>
    <div class="title">      
        <h2>歡迎光臨，這是會員頁</h2>
    </div>

    <div class="login-form">
        <div class="word">
           {{session.name}}，歡迎登入系統</div>
        <div class="logout"> <a href="http://127.0.0.1:3000/" type="submit" >登出系統</a></div>
    </div>

    


</body>
</html>