<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',    filename='template.css') }}">
    <link rel="stylesheet" href="../static/template.css">
    <title>Document</title>
</head>
<body>
    <div class="title">      
        <h2>歡迎光臨，這是會員頁</h2>
    </div>

    <div class="login-form">
        <div class="word" id="session_name_container">
           <p id="session_name">{{session.name}}</p><p>，歡迎登入系統</p></div>
        <div class="logout"> <a href="http://127.0.0.1:3000/" type="submit" >登出系統</a></div>


    <div class="word">查詢會員姓名</div>
    <div class="word">
        <div id="search">
            <input type="text" id="username" name="username">
            <button type="submit" onclick="search()" value="search" >查詢</button>
    </div></div>

    <div class="word">更新我的姓名</div>
    <div class="word">
        <div id="update">
    <input type="text" id="username_update" name="username_update">
    <button type="submit" onclick="update()" value="update" >更新</button>
</div></div>

    
<script type="text/javascript">


let jsonData = {};
let updateDate = {};

function search(){

    const nameElement = document.getElementById("username");
    const accountName = nameElement.value;

    fetch('http://127.0.0.1:3000/api/member?username=' + accountName , {method: 'GET'})
            .then((response) =>{
                return response.json();
            }).then((data) =>{
                jsonData=data.data;
                console.log(jsonData);
                
        
                if (jsonData != null){
                    let result = jsonData['name'];
                    let Div = document.querySelector("#search");
                    let Text = document.createElement("div");
                    Text.textContent = result;
                    return Div.appendChild(Text);
                }

                else {
                    let Div = document.querySelector("#search");
                    let Text = document.createElement("div");
                    Text.textContent = '找不到使用者';
                    return Div.appendChild(Text);
                }

            })
}


function update(){

    let userUpdate = document.getElementById("username_update")
    let userUpdateName = userUpdate.value

    
 /*    console.log(userUpdateName) */

    fetch('http://127.0.0.1:3000/api/member' ,{

            method: "PATCH",
            headers: {'Content-Type': 'application/json'}, 
            body: JSON.stringify({'name':userUpdateName}
            )
        }).then((response) =>{
            if(response.status !== 200){
                console.log(`${response.status}`);
                
            }
                return response.json();
            }).then((data) =>
            {
                console.log(userUpdateName)
                console.log(jsonData);
                console.log(data)
                
                let List  = document.getElementById('session_name_container');
                let oldNode = document.querySelectorAll('p')[0];
                let newNode = document.createElement('p');
                let textNode = document.createTextNode(userUpdateName);
                newNode.appendChild(textNode);

                // 將原有的 oldNode 替換成新節點 newNode
                List.replaceChild(newNode, oldNode);

                let Div = document.querySelector("#update");
                let Text = document.createElement("div");
                Text.textContent = '更新成功';
                return Div.appendChild(Text);

                
                
            })
}


</script>

</body>
</html>