* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
   }

html{
    font-size:20px;
}

html * {
    font-size: 1rem;
}

   nav ul > li {
    display: inline-block;
    margin-left: 15px;
  }

  nav {
    display: flex;
    justify-content:space-between;
    margin: 10px;
  }

  .containerone{
    height: 300px;
    background-color: rgb(213, 232, 244);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }

  .containerone a{
    font-size:2rem;
  }

   .box {
    background-color: rgb(213, 232, 244);
  }

  .a{
    display: flex;
    align-items: center; 
  }

  .b{
    display: flex;
    align-items: center; 
  }

  .imgSmall{
    display: inline-block;
    width: 100%;
    height:50px;
    width: 80px;
    margin-right: 10px;
    
  }
  
  .imgBig{
    display: inline-block;
    width: 100%;
    height:200px;
    margin-right: 10px;
    object-fit: cover;
    
  }

  img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }

  .card_image{
    display: inline-block;
    height: 100px;
  }

  .container {
    justify-content: center;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 50px 50px 50px 50px;
    grid-template-areas: 
      "area1 area1 area2 area2"
      "area3  area4 area5 area6"
      "area3  area4 area5 area6"
      "area3  area4 area5 area6"
      "area3  area4 area5 area6"
      ;
    
  }
  
.card_content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
 
 
  .a {
    grid-area: area1;
  }
  .b {
    grid-area: area2;
  }
  .c {
    grid-area: area3;
  }
  .d {
    grid-area: area4;
  }
  .e{
    grid-area: area5;
  }
  .f{
    grid-area: area6;
  }

  .hamburger{
    background-color: transparent;
    border: 0;
    display: none;
  }

  @media  (min-width: 1201px)and (max-width: 1920px) {

  }

@media  (min-width: 601px) and (max-width: 1200px)  {
    .container{
    grid-template-columns: 45% 45% ;
    grid-template-rows: 50px 50px ;
    grid-template-areas: 
    "area1 area2"
    "area3  area4 "
    "area3  area4 "
    "area5  area6 "
    "area5  area6 "
      ;
    }
}


@media (min-width: 360px) and (max-width: 600px){
  .container{
    grid-template-columns: 90% ;
    grid-template-rows: 50px;
    grid-template-areas: 
    "area1 "
    "area2 "
    "area3 "
    "area4 "
    "area5 "
    "area6 "
      ;
    }

    .nav-ul{
      display: none;
    }

    .hamburger{
      display: block;
    }

}
